body {
    font-family: Helvetica;
    text-align: center;
    color: #333;
    background-color: #fff;
    margin: 0;

}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    box-shadow: 2px;
    box-shadow: 0 0 10px #000000;
}

section {
    background-color: #e59019;
    position: relative;
    top: 100px;
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 240px;
}

.titulologo{
    font-size: 30px;
    position: absolute;
    left: 115px
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulologo2 {
    color: #e59019;
}

.titulologo, .Ncontexto, .nicho, .proposta_de_valor {
    color: #333;
}

nav ul{
    display: flex;
    align-items: center;
    list-style:none;
}

ul li{
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
}

.Tcontexto {
    color: #fff;
    font-size: 64px;
    margin-bottom: 0;
}

.Imagecontexto{
    width: 240px; 
    height: 240px;
}

.contexto {
    font-weight: bold;
    text-align: center;
    justify-content: right;
    font-size: 24px;
    color: #333;
}

.context-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.context-heading {
    color: #4a4a4a;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.context-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.context-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.context-image {
    width: 240px;
    height: 240px;
}

.img-logo {
    width: 80px; height: 80px;
    max-width: 100%; 
    height: auto;
    display: block;
    left: 180px;
}

footer {
    position: relative;
    margin-top: 100px;
}