@import url('https://fonts.googleapis.com/css2?family=Jua&family=Meera+Inimai&display=swap');

body {
    font-family: 'Meera Inimai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ccf0cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    font-family: 'Jua', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 8px -10px #808080;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.logo span {
    font-size: 36px;
    display: flex;
    align-items: center;
}

.logo .mais {
    color: #7DB283;
    margin: 0 5px;
}

.nav-button-container {
    display: flex;
    align-items: center;
}

.sobre:hover, .interface:hover, .recursos:hover {
    font-size: 28px;
    transform: scale(1.1);
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.botao.download {
    background-color: #7DB283;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao.download:hover {
    background-color: #7DB283;
    transform: scale(1.1);
}

.hero {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
    padding-top: 120px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 75px;
}

.hero p {
    font-size: 48px;
}

.sobre-section {
    background-color: #ccf0cc;
    padding: 40px 20px;
    text-align: center;
}

.sobre-section h2 {
    font-size: 48px;
    font-family: 'Jua', sans-serif;
    color: #7DB283;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 300px;
}

.sobre-section .sobre-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
}

.sobre-section .sobre-content p {
    flex: 1;
    margin: 0;
    padding-right: 20px;
    line-height: 24px;
    font-weight: bold;
}

.sobre-section .sobre-content img {
    height: 250px;
    margin-left: 20px;
}

.three-columns {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.three-columns div {
    width: 30%;
}

.three-columns h2 {
    font-weight: normal;
    font-size: 42px;
    font-family: 'Jua', sans-serif;
    color: #7DB283;
}

.three-columns p {
    flex: 1;
    padding-left: 120px;
    max-width: 300px;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    color: #000;
}

.three-columns img {
    height: 150px;
    background-color: #ccf0cc;
    padding: 5px 10px;
    cursor: normal;
    border-radius: 10px;
}

.three-columns img:hover {
    font-size: 28px;
    transform: scale(1.1);
    color: #000;
}

.recursos-icons {
    display: flex;
    justify-content: space-around;
}

.recursos-icons div {
    text-align: center;
}

footer {
    font-family: 'Jua', sans-serif;
    background-color: #ccf0cc;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 16px;
}
